.flex-container {
  display: flex;
  justify-content: center;
  /* align-self: center;    <---- REMOVE */
  align-items: center; /* <---- NEW    */
  margin-top: 100px;
  /* background: silver; */
}

.login-content {
  /* margin: auto; */
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  width: 250px;
  border: 3px solid green;
}

#summary {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#button
/* #inputField  */ {
  display: block;
}
