.transactions-grid,
.transactions-span {
  /* padding: 20px; */
  /* background-color: rgba(191, 191, 191, 0.15); */
  margin-top: 15px;
}

.accordion > .card > .card-header {
  padding: 8px;
  padding-bottom: 3px;
  font-size: 15px;
}

.filter-accordeon {
  margin-top: 10px;
}
.accordion > .card > .collapse,
.accordion > .card > .collapsing
{
  padding: 8px;
}

.transaction-search-dismiss {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.transactions-grid > .caption,
.transactions-span > .caption {
  /* margin-bottom: 20px; */
  font-size: 15px;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
    sans-serif;
  font-weight: 200;
  fill: #232323;
  cursor: default;
}

.interval-buttons-row {
  width: 800px;
  align-self: left;
  margin: 0px;
}

.transaction-file-import {
  display: block;
  flex-wrap: wrap;
  margin-right: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: 5px;
}

.buttons-column > div {
  height: 40px;
  text-align: center;
  margin-right: 5px;
}

.buttons-column {
  justify-content: center;
}

.dx-row.dx-data-row.dx-row-lines.dx-column-lines {
  line-height: 11px;
  font-size: 13px;
}

.dx-command-select.dx-cell-focus-disabled.dx-editor-cell.dx-editor-inline-block {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}
