.transactions-grid,
.transactions-span {
  padding: 20px;
  /* background-color: rgba(191, 191, 191, 0.15); */
  margin-top: 20px;
}

.transactions-grid > .caption,
.transactions-span > .caption {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
    sans-serif;
  font-weight: 200;
  fill: #232323;
  cursor: default;
}

.interval-buttons-row {
  width: 800px;
  align-self: left;
}

.transaction-file-import {
  display: block;
  flex-wrap: wrap;
  margin-right: 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: 5px;
}

.buttons-column > div {
  height: 40px;
  text-align: center;
  margin-right: 5px;
}

.buttons-column {
  justify-content: center;
}
