.container {
  /* top: 45px; */
  position: relative;
}

.dx-menu-item-text {
  /* position: absolute; */
  /* top: 5px; */
  /* right: 15px; */
  /* height: 40px; */
  /* padding: 10px; */
  font-size: 19px;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
    sans-serif;
  font-weight: 200;
  fill: #232323;
  cursor: default;
  /* align-items: flex-end; */
  /* margin-right: 10px; */
  /* align-content: flex-end; */
  /* background-color: rgba(0, 46, 252, 0.15); */
}

.dx-menu-item-popout-container {
  /* position: absolute; */
  /* top: 5px; */
  /* right: 15px; */
  /* height: 40px; */
  /* padding: 10px; */
  font-size: 17px;
  /* font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, */
  /* sans-serif; */
  /* font-weight: 200; */
  /* fill: #232323; */
  /* cursor: default; */
  /* align-items: flex-end; */
  /* margin-right: 10px; */
  /* align-content: flex-end; */
  /* background-color: rgba(0, 46, 252, 0.15); */
}

/* .top-menu { */
  /* position: absolute;
  top: 5px;
  right: 15px;
  padding: 10px;
  font-size: 25px;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
    sans-serif;
  font-weight: 200;
  fill: #232323;
  cursor: default; */
/* } */

.container {
  min-height: 530px;
  max-width: 100%;
}

.right-content {
  height: 100%;
}
