#pie {
  height: 400px;
}

.pie,
.transactions,
.monthly-spendings,
.transactions-span,
.income-spendings {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
}

.transactions-span > .caption,
.monthly-spendings > .caption,
.pie > .caption,
.transactions > .caption,
.income-spendings > .caption {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
    sans-serif;
  font-weight: 200;
  fill: #232323;
  cursor: default;
}

.spendings-content {
  top: 0;
  height: 100%;
  text-align: left;
  font-size: 14px;
}

.spendings-content .sub-title {
  font-size: 80%;
  color: rgba(152, 152, 152, 0.8);
}

#app {
  align-self: center;
}

.interval-buttons-row {
  width: 600px;
  align-self: left;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: 5px;
}

.buttons-column > div {
  /* width: 140px; */
  height: 40px;
  text-align: center;
  margin-right: 5px;
}

.buttons-column {
  /* width: 115px; */
  justify-content: center;
}
