#pieChart {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.pie {
  padding: 10px;
  background-color: rgba(223, 223, 223, 0.096);
  color: rgb(119, 119, 119);
  display: flex;
  flex-wrap: wrap;
  width: 48%;
}

.transactions,
.annual-balances,
.monthly-spendings,
.income-spendings {
  background-color: rgba(191, 191, 191, 0.15);
}

.transactions-span > .caption,
.pie > .caption,
.transactions > .caption,
.income-spendings > .caption {
  font-weight: 500;
  font-size: 25px;
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
    sans-serif;
  font-weight: 200;
  fill: #232323;
  cursor: default;
}

.spendings-content {
  height: 100%;
  text-align: left;
  font-size: 14px;
}

.spendings-content .sub-title {
  font-size: 80%;
}

#app {
  align-self: center;
}

.interval-buttons-row {
  width: 600px;
  align-self: left;
  height: 30px;
}

.pie-row {
  align-self: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.pie-break {
  width: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: 5px;
}

.buttons-column > div {
  text-align: center;
  margin-right: 5px;
}
.btn.btn-outline-primary.btn-sm,
.btn.btn-primary.btn-sm,
.btn.btn-outline-success.btn-sm,
.btn.btn-success.btn-sm,
.btn.btn-outline-info.btn-sm,
.btn.btn-info.btn-sm {
  line-height: 1;
}

.buttons-column {
  justify-content: center;
}
