.business-content {
  top: 0;
  height: 100%;
  text-align: left;

  font-size: 16px;
}

.business-content .sub-title {
  font-size: 80%;
  color: rgba(152, 152, 152, 0.8);
}

#app {
  align-self: center;
}

.interval-buttons-row {
  width: 600px;
  align-self: left;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: 5px;
}

.buttons-column > div {
  /* width: 140px; */
  height: 40px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.buttons-column {
  /* width: 115px; */
  justify-content: center;
}
